{% extends "layout.html" %}



{% block main %}

<div>
    <a href="/addevent" class="inline-block mt-10 ml-20 px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg 
    focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" id="Add" name="Add" type="button" value="Dodaj termin"> Dodaj termin</a>
  
</div>


    <div class="relative z-0 flex flex-col min-w-0 p-20 break-words bg-white border-0 shadow-xl rounded-2xl bg-clip-border">
        <div data-toggle="calendar" id="calendar"></div>
      </div>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl,
            {
                headerToolbar: { center: 'dayGridMonth,timeGridWeek,timeGridDay' }, // buttons for switching between views
                
                views:
                {
                    dayGridMonth:
                    { // name of view
                        titleFormat: { year: 'numeric', month: '2-digit', day: '2-digit' }
                        // other view-specific options here
                    }

                },

                events: [
                    {% for event in events %}
            {
                title: '{{event.title}}',
                start: '{{event.start}}',
                end: '{{event.end}}',
            },
            {% endfor %}
     ],
    //initialView: 'dayGridMonth',
    dateClick: function() 
    {
    alert('a day has been clicked!');
    }
      });

    calendar.render();
    });

</script>
{% endblock %}
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.0/index.global.min.js "></script>
</head>
<body>
    <div id ="calendar"></div>
    <script>
        let calendarEl= document.getElementById('calendar');

        let calendar = new FullCalendar.Calendar(calendarEl, {});

        calendar.render();
    </script>
</body>
</html>