{% extends "layout.html" %}

{% block main %}

<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Heroicon name: outline/bars-3
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Heroicon name: outline/x-mark
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="block h-8 w-auto lg:hidden" src="https://cdn-icons-png.flaticon.com/512/1216/1216491.png?w=740&t=st=1671373041~exp=1671373641~hmac=c69b0029027a4944476c1fa297b334ed9dbd067999768262ad5ddfb50e0d59f3g" alt="Tooth">
            <img class="hidden h-8 w-auto lg:block" src="https://cdn-icons-png.flaticon.com/512/1216/1216491.png?w=740&t=st=1671373041~exp=1671373641~hmac=c69b0029027a4944476c1fa297b334ed9dbd067999768262ad5ddfb50e0d59f3" alt="Tooth">
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="/pocetna" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Početna</a>
  
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Rezervacija</a>
  
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Usluge</a>
  
              <a href="/prijava" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Prijava</a>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
            <img class="block h-8 w-auto lg:hidden" src="https://cdn-icons-png.flaticon.com/512/1031/1031101.png?w=740&t=st=1671373838~exp=1671374438~hmac=3646085f425889fae1e358aa2f0a2f835cd893ba26d28c66ccac8cf32c102df9" alt="Tooth">
            <img class="hidden h-8 w-auto lg:block" src="https://cdn-icons-png.flaticon.com/512/1031/1031101.png?w=740&t=st=1671373838~exp=1671374438~hmac=3646085f425889fae1e358aa2f0a2f835cd893ba26d28c66ccac8cf32c102df9" alt="Tooth">
            <a href="#" class=" text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Profil</a>
        </div>
      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pt-2 pb-3">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Dashboard</a>
  
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Team</a>
  
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Projects</a>
  
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Calendar</a>
      </div>
    </div>
</nav>


<body>
    <div>
        <img src=”https://img.freepik.com/free-vector/dental-clinic-concept_74855-7141.jpg?w=1060&t=st=1671383103~exp=1671383703~hmac=d771895ce47268144069de1ef29c822559f682599751727ae33a0c3e59235b58”>
    </div>
  <div class="bg-white" style="padding-top: 1cm;">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="sm:text-center">
        <h2 style="font-size: 36pt; color: rgb(87, 120, 152); font-weight: bold;">DENTER</h2>
        <p style="font-size: 20pt; font-weight: bold;">Svatko zaslužuje zdrav osmijeh</p>
        <p style="font-size: 14pt; color: rgb(68, 68, 68); padding-top: 10pt;">Poštovani posjetitelji, dobro došli na web stranicu ordinacije dentalne medicine Vladimir Horvat.</p>
      </div>
  
      <div style="padding-top: 40pt; padding-left: 25pt; padding-right: 2pt; ">
        <div class="grid grid-cols-1 gap-y-16 md:grid-cols-2 md:gap-x-12 md:gap-y-16">
          <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
            <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-indigo-500 text-white sm:shrink-0">
              <!-- Heroicon name: outline/globe-alt -->
              <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
              </svg>
            </div>
            <div class="sm:min-w-0 sm:flex-1">
              <p class="text-lg font-semibold leading-8 text-gray-900">O nama</p>
              <p class="mt-2 text-base leading-7 text-gray-600">Stalnom edukacijom i nadogradnjom znanja nudimo pacijentima niz dentalnih usluga stoga nam se obratite sa povjerenjem.</p>
            </div>
          </div>
  
          <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
            <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-indigo-500 text-white sm:shrink-0">
              <!-- Heroicon name: outline/scale -->
              <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0012 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 01-2.031.352 5.988 5.988 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 01-2.031.352 5.989 5.989 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971z" />
              </svg>
            </div>
            <div class="sm:min-w-0 sm:flex-1">
              <p class="text-lg font-semibold leading-8 text-gray-900">Usluge</p>
              <p class="mt-2 text-base leading-7 text-gray-600">Endodoncija i restorativa <br/>Profilaksa <br/>Fiksna i mobilna protetika <br/>...</p>
            </div>
          </div>
  
          <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
            <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-indigo-500 text-white sm:shrink-0">
              <!-- Heroicon name: outline/bolt -->
              <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
              </svg>
            </div>
            <div class="sm:min-w-0 sm:flex-1">
              <p class="text-lg font-semibold leading-8 text-gray-900">Radno vrijeme</p>
              <p class="mt-2 text-base leading-7 text-gray-600">Ponediljak/Srijeda/Petak: 8:00 - 16:00 <br/> Utorak/Četvrtak: 14:00 - 22:00 <br/> Subota: 8:00 - 14:00</p>
            </div>
          </div>
  
          <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
            <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-indigo-500 text-white sm:shrink-0">
              <!-- Heroicon name: outline/device-phone-mobile -->
              <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
              </svg>
            </div>
            <div class="sm:min-w-0 sm:flex-1">
              <p class="text-lg font-semibold leading-8 text-gray-900">Kontaktirajte nas</p>
              <p class="mt-2 text-base leading-7 text-gray-600">tel: 021-931-333 <br/>mail: vladimir.horvat@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body> 
{% endblock %}