{% extends "layout.html" %} 

{% block header %} <h1 class="lg:pt-5 indent-6 text-6xl font-extrabold leading-none md:text-7xl lg:text-8xl text-blue-600 dark:text-blue-500">Denter</h1> {% endblock %}
{% block title %} {{ naslov }} {% endblock %}

{% block main %}

<section >
  <div class="px-6 lg:mt-12 text-gray-800">
    <div class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6">
      <div class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-/12 lg:w-6/12 md:w-2/12 md:mb-0">
        <img src="https://img.freepik.com/free-vector/dentist-examining-boy-dental-chair-doctor-tooth-visit-flat-vector-illustration-stomatology-dentistry_74855-13053.jpg?w=2000&t=st=1671219013~exp=1671219613~hmac=7a5063ffc4cab30fe46eb397a05b11da44a42bbe205448352f83fa4028033c3d" class="w-full" alt="Sample image" />
      </div>
      <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
        <form action="" method="POST">
          {{ obrazac.hidden_tag() }}
          <div class="flex items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5">
            <p class="text-center font-semibold mx-4 mb-0">Registracija</p>
          </div>
          <!-- Input e-maila -->  
          <div class="mb-6">        
            {% if obrazac.ime.errors %}
                greska u imenu
            {% endif %}
            {{ obrazac.ime(class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none", placeholder="Ime") }}
          </div>
          <!-- Input e-maila -->  
          <div class="mb-6">  
            {% if obrazac.email.errors %}
            greska u mailu
        {% endif %}      
            {{ obrazac.email(class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none", placeholder="Email adresa") }}
            </div>
          <!-- Input lozinke  -->
          <div class="mb-6">
            {% if obrazac.lozinka.errors %}
            greska u loz
        {% endif %}
            {{ obrazac.lozinka(class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none", placeholder="Lozinka") }}
            </div>
          <!-- Input lozinke  -->
          <div class="mb-6">
            {% if obrazac.potvrda.errors %}
            greska u pot
        {% endif %}
            {{ obrazac.potvrda(class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none", placeholder="Potvrdi lozinku") }}
            </div>
          <div class="flex justify-between items-center mb-6 text-sm lg:text-base">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" id="exampleCheck2" />
              <label class="form-check-label inline-block text-gray-800" for="exampleCheck2">Zapamti me</label>
            </div>
          </div>
          <div class="text-center lg:text-left">
            {{ obrazac.submit(class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out") }}
            <p class="text-sm lg:text-base font-semibold mt-2 pt-1 mb-0"> Već imate račun? <a href="/prijava" class="text-pink-600 hover:text-blue-700 focus:text-blue-700 transition duration-200 ease-in-out">Prijavi se</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> 
{% endblock %}