{% extends "layout.html" %}
{% block main %}


<div class="relative overflow-x-auto">
    <table class="w-full  px-2 text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Usluga
                </th>
               
                <th scope="col" class="px-3  py-3">
                    Cijena
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    bijela ispuna
                </th>

                <td class="px-3 py-4">
                    30-50 EUR
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    uklanjanje kamenca
                </th>
              
                <td class="px-3 py-4">
                    30 EUR
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    implantat
                </th>
              
                <td class="px-3 py-4">
                   700 EUR
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    titanska nadogradnja / abutment
                </th>
              
                <td class="px-3 py-4">
                   200 EUR
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    cirkonska nadogradnja / abutment
                </th>
              
                <td class="px-3 py-4">
                   300 EUR
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    cirkonska monolitna krunica
                </th>
              
                <td class="px-3 py-4">
                   300 EUR
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    vađenje umnjaka/alveotomija
                </th>
              
                <td class="px-3 py-4">
                   200 EUR
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Endodoncija
                </th>
              
                <td class="px-3 py-4">
                   60 EUR po kanalu
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    profesionalno izbjeljivanje po čeljusti
                </th>
              
                <td class="px-3 py-4">
                   200 EUR
                </td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}